<html>
<head>
    <title>contact</title>
<body>
    

    <form action = "/data" method ="post">
        <input type="text" name='First_Name' placeholder="FirstName" required='required' />
        <input type="text" name='second_Name' placeholder="secondName" required='required' />
        <input type="number" name='Number' placeholder="Number" required='required' />
        <input type="email" name='email' placeholder="email" required='required' />
        <button type="submit">Predict</button>



    </form>

</body>
</head>
</html>